<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <title>FlakyManager</title>
    <link rel="stylesheet" href="/style.css?v=1.1"></link>
</head>
<body>

<div class="container">
    <div class="header">
        <label>FlakyManager</label>
        <span>Welcome!</span>
    </div>
    <div class="content">
        <div class="chartBox">
            <div class="title"><span id="project"></span></div>
            <div id="chartMain" style="height: 300px;"></div>
        </div>
        <div class="tableBox">
            <div class="mainData">
                <div class="tabLabel">
                    <label class="active" onclick="tabLabel(0,this)">Unhandled</label>
                    <label onclick="tabLabel(1,this)">Handled</label>
                </div>
                <div class="tableGrid">
                    <div id="newFound" style="display: block">
                        <table>
                            <thead>
                            <tr>
                                <td>Class Name</td>
                                <td>Case Name</td>
                                <td>Frequency</td>
                                <td>Last Detection</td>
                                <td>FlakyID</td>
                                <td>Status</td>
                                <td>Action</td>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td onmouseover="overShow('sql.handle.com.servlet.common.package.getClassName.java')" onmouseout="outHide()">sql.handle.com.servlet.common.package.getClassName.java</td>
                                    <td>common.components.class</td>
                                    <td>4</td>
                                    <td>2019-03-01 20:30:23</td>
                                    <td>2</td>
                                    <td>Unhandled</td>
                                    <td><a class="statusSwitch" >Mark as Handled</a><a class="toHistory">History</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="done">
                        <table>
                            <thead>
                            <tr>
                                <td>Class Name</td>
                                <td>Case Name</td>
                                <td>Frequency</td>
                                <td>Last Detection</td>
                                <td>FlakyID</td>
                                <td>Status</td>
                                <td>Action</td>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    <div class="pagger-box pagger" id="box"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="historyContent">
        <div class="chartBox">
            <div class="title">Project History
                <a href="javascript:void(0);" onclick="backtoIndex()" class="backToHis">BACK TO LIST</a>
            </div>
            <div class="historyTable" id="historyTable">
                <table>
                    <thead>
                    <tr>
                        <td>Class Name</td>
                        <td>Case Name</td>
                        <td>Last Discovery</td>
                        <td>FlakyHistoryID</td>
                        <td>Status</td>
                        <td>SHA-1</td>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
            <div class="pagger-box pagger" id="box1"></div>
        </div>
    </div>
</div>

<div class="popup">
    <div class="popupCont">
        <h3>Envionment Variables</h3>
        <div class="popupBox">
            <div class="fakeTr">
                <label><b>Param Name</b></label>
                <label><b>Param Value</b></label>
            </div>
            <div id="fillBox">

            </div>
        </div>
        <a class="closed" onclick="closedPopup()">CLOSE</a>
    </div>
</div>

<div class="showClassName">
    <span></span>
</div>

<script src="/jquery-3.3.1.min.js"></script>
<script src="/paging.js?v=1.1"></script>
<script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
<script src="/common.js?v=1.1"></script>
</body>
</html>